
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
  background-color: #f6f8fc;
}

.header{
    background-image: url('./images/Hero-bg.png'); 
    background-size: cover;   
}

/*Shared items*/
button{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
}
.animated-button:hover {
  background-color: #2d29b7;; /* New background color on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}
.bold-font{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

/*header*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin: 50px 150px;*/
    font-size: 34px;
    color: #4E47FF;
    font-weight: black;
}
.easy{
    margin: 50px 150px;
}

.pain{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 200px;
    margin-left: 250px;
    margin-right: 265px;
}
/*action section*/
.action{
 display: flex;
 align-items: center;
 gap: 220px;
 justify-content: space-between;
 margin: 150px 200px 130px 200px;
}
.title{
font-size: 42px;
font-weight: bold;
color: #252432;
margin-top: 0%;
margin-bottom: 23px;
}
.subtitle{
font-size: 24px;
font-weight: 400;
color: rgba(0, 0, 0, 0.5);
margin-bottom: 50px;
}
.image{
    border-radius: 48px;
}
/*productive*/
.background{
background-color: rgba(78, 71, 255, 0.1);
border-radius: 24px;
margin: 300px;
}
.headline{
   padding-top: 50px ;
    margin-bottom: 10px;
    font-size: 42px;
font-weight: bold;
color: #252432;
text-align: center;;
}
.users{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 158px;;
}
.bold-title{
color: #4E47FF;
font-size: 80px;
font-weight: 700;
margin-bottom: 0px;
}

/*feedback section*/
.comments{
    text-align: center;
    margin: 100px auto;
}
.card-container{
    display: flex;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    padding: 50px;
    text-align: left;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
} 
h2{
    text-align: center;
    font-size: 42px; 
    font-weight: 700;
    color: #252432;
}
h3{
     font-size: 20px;
     font-weight: 700;
}
p{
    font-size: 15px;
    font-weight:400 ;
    color: #252432;
}
.reviewer{
    display: flex;
    align-items: center;
    gap: 15px;
}
h4{
    margin: 0;
    color: rgb(56, 54, 54);
}
span{
    color: gray;
    font-weight: 500;
}