
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
  background-color: #f6f8fc;
}

.header{
    background-image: url('./images/Hero-bg.png'); 
    background-size: cover;   
}

/*Shared items*/
button{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding: 12px ;
    height: 50px;
    width: 200px;
}
.animated-button:hover {
  background-color: #2d29b7;; /* New background color on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}
.bold-font{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

/*header*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin: 50px 150px;*/
    font-size: 34px;
    color: #4E47FF;
    font-weight: black;
}
.easy{
    margin: 50px 150px;
}

.pain{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 200px;
    margin-left: 250px;
    margin-right: 265px;
}
/*action section*/
.action{
 display: flex;
 align-items: center;
  gap: 250px;
 margin: 100px 325px 100px 325px;
 justify-content: space-between;
;
}
.title{
font-size: 42px;
font-weight: bold;
color: #252432;
margin-top: 0%;
margin-bottom: 23px;
}
.subtitle{
font-size: 24px;
font-weight: 400;
color: rgba(0, 0, 0, 0.5);
margin-bottom: 50px;
}
.image{
    border-radius: 48px;
}
/*productive*/
.background{
background-color: rgba(78, 71, 255, 0.1);
border-radius: 24px;
margin: 300px;
}
.headline{
   padding-top: 50px ;
    margin-bottom: 10px;
    font-size: 42px;
font-weight: bold;
color: #252432;
text-align: center;;
}
.users{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 158px;;
}
.bold-title{
color: #4E47FF;
font-size: 80px;
font-weight: 700;
margin-bottom: 0px;
}

/*feedback section*/
.comments{
    text-align: center;
    margin: 100px auto;
}
.card-container{
    display: flex;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    padding: 50px;
    text-align: left;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
} 
.h2{
    text-align: center;
    font-size: 42px; 
    font-weight: 700;
    color: #252432;
}
.h3{
     font-size: 20px;
     font-weight: 700;
}
.p{
    font-size: 15px;
    font-weight:400 ;
    color: #252432;
}
.reviewer{
    display: flex;
    align-items: center;
    gap: 15px;
}
.h4{
    margin: 0;
    color: rgb(56, 54, 54);
    font-weight: 500;
}
span{
    color: gray;
    font-weight: 500;
}
/*focus better*/
.focus-area{
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
     border-radius: 15px;
     margin: 100px 325px 100px 325px;
}
.focus{
    padding-top: 70px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    
}
.focus-title{
    font-size: 15px;
    font-weight: 400;
    color: rgb(81, 81, 81);
}
.focus-image{
 border-radius: 50px;
 margin-top: 20px;
 margin-bottom: 70px;
}
/*touch section*/
.touch-area{
    padding-top: 100px;
    display: flex;
    align-items: center;
    gap: 250px;
    margin: 100px 325px 100px 325px; 
}
form{
    display: block;
    margin-bottom: 20px;
}
.touch-title{
    font-size: 97px;
    font-weight: bold;

}
.touch-subtitle{
    font-size: 20px;
    font-weight: 500;
}
input, textarea{
    color: rgb(150, 148, 148);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    width: 100%; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px;
    font-size: 20px;
}
.last{
    width: 100%;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}
/*footer section*/
.footer{
    text-align: center;
    align-items: center;
}
.title4{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin-bottom: 8px;
}
.subtitle4{
    font-size:20px;
    color: #8987A1;
    font-weight: 500;
    margin-bottom: 30px;
}
ul{
  display: flex;
    align-items: center;
    margin-left: 700px;
    margin-bottom: 100px;
}
li{
    color: #8987A1;
    font-weight: 500;
    font-size: 20px;
    list-style: none;
    margin-right: 50px;
}