
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.header{
    background-image: url('./images/Hero-bg.png'); 
    background-size: cover;   
}

/*Shared items*/
button{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
}
.animated-button:hover {
  background-color: #2d29b7;; /* New background color on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}
.bold-font{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

/*header*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin: 50px 150px;*/
    font-size: 34px;
    color: #4E47FF;
    font-weight: black;
}
.easy{
    margin: 50px 150px;
}

.pain{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 200px;
    margin-left: 250px;
    margin-right: 265px;
}
/*action section*/
.action{
 display: flex;
 align-items: center;
 gap: 220px;
 justify-content: space-between;
 margin: 150px 200px 130px 200px;
}
.title{
font-size: 42px;
font-weight: bold;
color: #252432;
margin-bottom: 23px;
}
.subtitle{
font-size: 24px;
font-weight: 400;
color: #252432;
margin-bottom: 23px;
}
.image{
    border-radius: 48px;
}
/*productive*/
.background{
background-color: rgba(78, 71, 255, 0.1);
border-radius: 24px;
margin: 100px auto;
}
.headline{
    padding-top: 50px ;
    margin-bottom: 10px;
    font-size: 42px;
font-weight: bold;
color: #252432;
text-align: center;
}
.users{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 158px;;
}
.bold-title{
color: #4E47FF;
font-size: 80px;
font-weight: 700;
margin-bottom: 0px;
}
